:root {
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }

  .header {
    width: 100vw;
    text-align: center;
    height: 5vw;
  }

  h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }

  .player-choice {
    width: 100vw;
    text-align: center;
  }

  h2 {
    font-size: clamp(1rem, 4vw, 2.5rem);
  }

  #board {
    display: grid;
    gap: 0px;
    border: 1px solid grey;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    width: 300px;
    height: 300px;
    justify-self: center;
  }

  .board-item {
    color: black;
    border: 1px solid blue;
    display: inline-block;
    padding: 10px;
    text-align: center;
  }

  .board-item:hover {
    cursor: pointer;
  }

  .form-modal {
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.4);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: flex;
    top: 0;
  }

  #choose-one {
    background-color: aquamarine;
    width:200px;
    height: 200px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gameEnd {
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
    top: 0;
    padding-top: 10vh;
  }

  .button-res {
    display: flex;
    align-items: center;
    justify-content: center;
  }


